@headerimg: url('images/brick.jpg');
.headerstyle {
  background-size: contain;
  background-position: center top;
  height: 180px;
}
body{
  background: ##d6dcda;
  background-image: url("images/full-bg");
  background-repeat: no-repeat;
  background-size: 100%;
}
header {
  background-image: @headerimg;
  .headerstyle;
}

#primary {
  margin: 75px auto 0px auto;
}
  .logo  {
    width: 75%;
    position: fixed;
    left: 50%;
    margin: 0 0 0 -37.5%;

    #villas {
      position: relative;
      margin: 0 auto;
      width: 220px;
      top: -50px;

      img.logo {
        text-align: center;
      }

    }
  }
