<div class="modal-dialog" >
    <div class="modal-content">
        <div class="modal-header">
            <h3>Welcome | <small>Villas at Eagle View South</small></h3>
        </div>
        <div class="modal-body">
            <p> Welcome to the initial Villas at Eagle View South website.  It will continue to evolve in the months ahead to serve the 56 lot owners.</p>
            <p>Initial Features of this site will only be available to lot owners. Click the button below if you are a resident and did not receive your login instructions email.<p></p>
        </div>
        <div class="modal-footer" ng-model="user">
            <div class="alert alert-warning">
                <form class="form-inline pull-left">
                    <div class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter Preferred Username">
                    </div>
                    <button type="submit" class="btn btn-default">Ok</button>
                </form>

                Lot Owners Only <span class="glyphicon glyphicon-chevron-right"></span> <button disabled type="button" class="btn btn-primary"><span class="glyphicon glyphicon-home"></span>I need to login</button></div>
        </div>
    </div>
</div>