
    <script type="text/ng-template" id="view/comingsoon.html">
        <div class="modal-header">
            <h3>Welcome | <small>Villas at Eagle View South</small></h3>
        </div>
        <div class="modal-body">
            <p> Welcome to the initial Villas at Eagle View South website.  It will continue to evolve in the months ahead to serve the 56 lot owners.</p>
            <p>Initial Features of this site will only be available to lot owners. Click the button below if you are a resident and did not receive your login instructions email.<p></p>
        </div>
        <div class="modal-footer">
            <div class="alert alert-warning">


                Lot Owners Only <span class="glyphicon glyphicon-chevron-right"></span> <a class="btn btn-primary"  href="mailto:mike.kiley2@comcast.net?subject=Please Send Me My Login Info&body=Hello, I own the property at [_____] and need my login info to participate on the evsvillas.com website. "><span class="glyphicon glyphicon-home"></span>  I need to login </a></div>
        </div>
</script>
