<div class="row">
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header navbar-brand">
        Three Year Strategic Options Forum
    </div>
    <ul class="nav navbar-nav nav-pills">
        <li class="active"><a href="#">Option A</a></li>
        <li><a href="#">Option B</a></li>
        <li><a href="#">Option C</a></li>
    </ul>
    <button type="button" class="btn btn-primary navbar-btn" ng-click="newPost()">New Post</button>
    <form class="navbar-form navbar-right" role="search">

        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sort By: {{'Newest'}} <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#">Oldest</a></li>
                <li><a href="#">Most Comments</a></li>
                <li><a href="#">Least Comments</a></li>
                <li class="divider"></li>
                <li><a href="#">Mine first</a></li>
            </ul>
        </li>
    </ul>
</nav>

</div>



<div class="row"><!-- forum start -->

        <div class="panel panel-primary" id="topicid" ng-repeat="post in Posts">
            <div class="panel-heading">
                <h3 class="panel-title">{{ post.id }}</h3>
            </div>

            <div class="panel-body">
                <p>{{ post.message }}</p>
                <blockquote>
                    <small>Nickname | March 1, 2014 | Replies: <a class="badge" href="#topicidreplies"  data-toggle="collapse">5 <span class="caret"></span></a> </small>
                </blockquote>
            </div>
                <div class="panel-footer collapse" id="topicidreplies">
                    <div class="reply">
                        <p>I totally Agree</p>
                    </div>
                </div>


        </div>


        <!-- pagination -->
        <ul class="pagination">
            <li class="disabled"><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
        </ul>

</div>