<div class="row">
    <div class="col-md-8" >
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Topic Post</h3>
            </div>
            <div class="panel-body">
                Here's why I think you should vote...
            </div>
            <div class="panel-footer"><stong>1234 Yukon Cir</stong><div class="pull-right">5 comments<span class="caret"></span></div> </div>

            <ul class="list-group" ng-show="">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Option 3 is best!</h3>
            </div>
            <div ng-show="">
                <div class="panel-body">
                    Here's why I think you should vote...
                </div>
                <div class="panel-footer"><stong>1130 Yukon Cir</stong><div class="pull-right">2 comments<span class="caret"></span></div> </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Option 2 will rock your world!</h3>
            </div>
            <div ng-show="">
                <div class="panel-body">
                    Here's why I think you should vote...
                </div>
                <div class="panel-footer"><stong>1130 Yukon Cir</stong><div class="pull-right">2 comments<span class="caret"></span></div> </div>
            </div>
        </div>

        <!-- pagination -->
        <ul class="pagination">
            <li class="disabled"><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
        </ul>

    </div>
    <div class="col-md-4" >
        <div class="well">
            <ul class="nav nav-pills">
                <li class="active"><a href="#">Posts <span class="badge">3</span></a></li>
                <li><a href="#">Comments<span class="badge">10</span></a></li>
            </ul>
        </div>

    </div>
</div>