


    <div class="row">
        <div class="col-md-4">

            <h4>Three Year Strategic Plan Options</h4>
            <div class="list-group" id="villaOptions">
                <div class="list-group-item">
                    <span class="lead text-primary">Option A</span>
                    <p list-group-item-text> Reduce monthly assessment to $60.  No major expenditures.</p>

                </div>
                <div class="list-group-item">
                    <span class="lead text-primary">Option B</span>
                    <p list-group-item-text>Reduce monthly assessment to $75.  Limited expenditures.</p>

                </div>
                <div class="list-group-item">
                    <span class="lead text-primary">Option C</span>
                    <p list-group-item-text>Maintain monthly assessment.  Look to improve external areas through expenditures.</p>

                </div>

            </div>
            <small>Please participate in a discussion on the three options.  Leave your feedback or ask a question of the Board or other residents.</small>

        </div>

        <div class="col-md-8">
            <div class="roundabout">
                <ul id="roundabout">
                    <li><img src="images/title-stone.jpg" alt=""/></li>
                    <li><img src="images/fountain.jpg" alt=""/></li>
                    <li><img src="images/fountain.jpg" alt=""/></li>

                </ul>
            </div>

        </div>
    </div>



