


    <div class="row">
        <div class="col-md-4">
            <h2 class="bg-primary">Welcome</h2>

            <p class="bg-primary"> Welcome to the initial Villas at Eagle View South website</p>
            <p>It will continue to evolve in the months ahead to serve the 56 lot owners</p>

        </div>

        <div class="col-md-8 well well-lg">
            <div class="roundabout">
                <img src="images/title-stone.jpg" class=" img-rounded img-responsive" alt=""/>
            </div>

        </div>
    </div>



